@model Dmart.Models.OrderModel





        <table class="table table-dark innerDiv" id="tbl">
            <tr>
                <th class="text-center">Product_ID</th>
                <th class="text-center">Prdouct_Name</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Unit_price</th>
            </tr>

            @foreach (var item in Model.ProductList)
            {
                <tr>
                    <td> @Html.DisplayFor(modelPrd => item.ProductId)</td>
                    <td> @Html.DisplayFor(modelPrd => item.Name)</td>
                    <td> @Html.DisplayFor(modelPrd => item.Quantity)</td>
                    <td> @Html.DisplayFor(modelPrd => item.unitPrice)</td>
                </tr>
            }



            @*@foreach (var prd in Model.ProductList.Where(x => x.OrderId == item.OrderId).OrderBy(x => x.ProductId))
        {

         @Html.Partial("/Views/Home/_IndexProductList.cshtml",prd);

        }*@

        </table>
